<section>
        <% if (locals.user) { %> 
            <% if (user.membership_status) { %>
                <h2>Welcome, <%= user.username %>!</h2>
                <p>You are part of the clubhouse and have full access.</p>
                <a href="/new-message">Create New Message</a>
                <p>This is what's happening!</p>
                <div class="messages">
                    <% messages.forEach(message => { %>
                        <div class="message">
                            <h3><%= message.title %></h3>
                            <p><%= message.text %></p>
                            <small>Posted by <%= message.username %> on <%= new Date(message.timestamp).toLocaleString() %></small>
                        </div>
                    <% }) %>
                </div>
            <% } else { %>
                <h2>Welcome, <%= user.username %>!</h2>
                <p>Explore thoughts shared by exclusive members and feel free to add your own! Remember, membership unlocks more!</p>
                <div class="home-links">
                    <a href="/new-message">Create New Message</a>
                    <a href="/join">Join</a>
                </div>
                <p>Here's what the members are buzzing about!</p>
                <div class="messages">
                    <% messages.forEach(message => { %>
                        <div class="message">
                            <h3><%= message.title %></h3>
                            <p><%= message.text %></p>
                        </div>
                    <% }) %>
                </div>
            <% } %>
        <% } else { %>
            <h2>Welcome!</h2>
            <p>Dive into a world of shared thoughts and experiences.</p>
            <div class="home-links">
                <a href="/sign-in">Sign in</a>
                <a href="/sign-up">Sign up</a>
            </div>
            <h2>Sneak Peek!</h2>
            <p>Here’s what's happening inside:</p>
            <div class="messages">
                <% messages.forEach(message => { %>
                    <div class="message">
                        <h3><%= message.title %></h3>
                        <p><%= message.text %></p>
                    </div>
                    <hr>
                <% }) %>
            </div>
        <% } %>
</section>